<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Login</title>
</head>

<body>
    <div class="container">
        <form action="register" method="post">
            <h1>Register</h1>
            <h3>Username</h3>
            <input type="text" name="username">
            <h3>Email</h3>
            <input type="text" name="email">
            <h3>Password</h3>
            <input type="password" name="password">
            <button type="submit">Register</button>
            <p>Do you already have a account?<strong><a href="/">Login</a></strong></p>
        </form>
    </div>
</body>

</html>